<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/posting.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="content_section">
    <div class="container">
        <div class="post_page_warpper write_approval_leave">
            <div class="form_cont">
                <h1 class="form_name">글쓰기</h1>
                <div class="inputs_wrap">
                        <ul class="two_col mb50">
                            <li class="pull_left clearfix">
                                <div class="inner_row">
                                    <div class="subj">작성자</div>
                                    <div class='value'>
                                        <div class='input_txt txt_left'>
                                            권혜주
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="pull_left clearfix">
                                <div class="inner_row">
                                    <div class="subj">작성일</div>
                                    <div class="value">
                                        <div class="input_txt txt_left" id='now_date'>
                                            2019.11.26
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <ul class="one_col summary_info for_write">
                        <li class="clearfix">
                            <div class="inner_row">
                                <div class="subj">제목</div>
                                <div class="value">
                                    <input type="text" class="input_txt" id="title">
                                </div>
                            </div>
                            <div class="inner_row">
                                <div class="subj">내용</div>
                                <div class="value">
                                    <div id="summernote" class='form-control'></div>
                                </div>
                            </div>
                        </li>
                        <li class="mt13">
                            <div class="inner_row">
                                <div class="subj">첨부 파일</div>
                                <form class="value" id='fileform' method="post" enctype="multipart/form-data">
                                    <div class="txt gray">첨부할 파일을 불러와주세요</div>
                                    <label class="btn_find" for="id_uploadFiles">찾아보기..</label>
                                    <input type="file" multiple="multiple" id='id_uploadFiles'
                                           class="uploadFile" onchange="upload_image(this)"
                                           name="uploadFiles">
                                </form>
                            </div>
                        </li>
                        <li class="mt13">
                            <div class="inner_row">
                                <div class="subj">첨부 파일</div>
                                <div class="value attach_desc">
                                    <div class="txt gray" id="fileName"></div>
                                    <div id="test"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tool center">
                    <div class="btn_blue big_font" onclick="devideURL()">완료</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<!-- include summernote css/js-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

<script>
$(document).ready(function () {
    $('#summernote').summernote({
        lang: 'ko-KR',
        height: 350,
        focus: true,
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
        ],
    });
});

var file_array = new Array();

var uploadImg = 0;
var uploadfile = 0;

$('.uploadFile').on('change', function () {
    for (var i = 0; i < $(this)[0].files.length; i++) {
        if (window.FileReader) {
            file_array.push('<div class=add_file' + uploadfile + '> ' + $(this)[0].files[i].name + ' <div class=remove_file onclick=delete_file(' + uploadfile + ')>x</div></div>');
        }
        else {
            file_array.push($(this).val().split('/').pop().split('\\').pop());
        }
        $('#fileName').html(file_array);
        uploadfile++
    }
});

function delete_file(input) {
    $("#id_uploadFiles_src" + input).remove();
    $(".add_file" + input).remove();
}

function upload_image(input) {
    if (true) {
        var fileAmount = input.files.length;
        for (var i = 0; i < fileAmount; i++) {
            var reader = new FileReader();

            reader.onload = function (event) {
                var tag = '<div style="width:30%;"  id="id_uploadFiles_src' + uploadImg + '"+ src="' + event.target.result + '" alt="">';
                uploadImg++;
                $('#test').append(tag);

            };
            reader.readAsDataURL(input.files[i]);
        }
    }
}

function write_notice() {
    var title = $('#title').val();
    var contents = String($('.note-editable').html());
    var uploadFiles_array = new Array();
    var uploadFiles_name_array = new Array();
    for (var i = 0; i < uploadImg; i++) {
        uploadFiles_array.push($('#id_uploadFiles_src' + i).attr('src'));
        uploadFiles_name_array.push(file_array[i].split('> ').pop().split(' <')[0]);
    }

    $.ajax({
        type: 'POST',
        url: '/board/notice/',
        data: {
            'title': title,
            'contents': contents,
            'uploadFiles_array': uploadFiles_array,
            'uploadFiles_name_array': uploadFiles_name_array
        },
        success: function (data) {
            if (data == 'ok') {
                alert('공지사항 작성이 완료되었습니다.');
                location.href = '/notice/';
            }
        },
        error: function (data) {
            alert('관리자에게 문의하세요.')
        }
    });
}

function update_notice() {
    var title = $('#title').val();
    var contents = String($('.note-editable').html());
    var uploadFiles_name_array = new Array();
    var uploadFiles_array = new Array();

    for (var i = 0; i < uploadImg; i++) {
        uploadFiles_array.push($('#id_uploadFiles_src' + i).attr('src'));
        uploadFiles_name_array.push(file_array[i].split('> ').pop().split(' <')[0]);
    }

    $.ajax({
        type: 'PUT',
        url: '/board/notice/{{ post.id }}/',
        data: {
            'title': title,
            'contents': contents,
            'uploadFiles_array': uploadFiles_array,
            'uploadFiles_name_array': uploadFiles_name_array
        },
        success: function (data) {
            if (data == 'ok') {
                alert('공지사항 작성이 완료되었습니다.');
                location.href = '/notice/';
            }
        },
        error: function (data) {
            alert('관리자에게 문의하세요.')
        }
    });
}

function get_notice_data() {
    var title = "{{ post.mTitle }}";
    var contents = "{{ post.mContents|safe }}";
    $('#title').val(title);
    $('.note-editable').html(contents);
}

</script>