<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Space</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation__column">
            <a href="">
                <!-- Master branch comment -->
                <img src="/static/images/space.jpeg" />
            </a>
        </div>
        <div class="navigation__column">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="navigation__column">
            <ul class="navigations__links">
                <li class="navigation__list-item">
                    <a href="explore.html" class="navigation__link">
                        <i class="fa fa-compass fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="#" class="navigation__link">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="/login" class="navigation__link">
                        <i class="fa fa-user-o fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main id="feed">
        {% for feed in feeds %}
            <div class="photo">
                <header class="photo__header">
                    <img src="/static/images/{{feed.user.profile_photo}}" class="photo__avatar" />
                    <div class="photo__user-info">
                        <span class="photo__author">{{feed.user.name}}</span>
                    </div>
                </header>
                <img src="/static/images/{{feed.photo}}" />
                <div class="photo__info">
                    <div class="photo__actions">
                        <span class="photo__action">
                            <i class="fa fa-heart-o fa-lg" onclick="likeBoard({{feed.id}})"></i>
                        </span>
                        <span class="photo__action">
                            <i class="fa fa-comment-o fa-lg" onclick="goDetailPage({{feed.id}})"></i>
                        </span>
                    </div>
                    <div class = "photo__contents">{{feed.content}}</div>
                    <span class="photo__likes">좋아요 {{feed.board_like}}개</span>
                    {% for comment in comments %}
                    <ul class="photo__comments">
                        {% if comment.board_id == feed.id%}
                            {% if comment.depth == 1 %}
                                <li class="photo__comment">
                                    <span class="photo__comment-author">{{comment.user.name}}</span> {{comment.content}}
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    {% endfor %}
                    <span class="photo__time-ago">{{feed.post_data}}</span>
                    <div class="photo__add-comment-container">
                        <textarea class="comment_contents_{{feed.id}}"name="comment" placeholder="Add a comment..."></textarea>
                        <button class="post_comment" onclick="postComment({{feed.id}})">게시</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
    <footer class="footer">
        <div class="footer__column">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">About Us</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Support</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Blog</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Press</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Api</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Jobs</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Privacy</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Terms</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Directory</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Language</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__column">
            <span class="footer__copyright">© 2017 SpaceBar</span>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    function goDetailPage(board_id){
        location.replace('/detail/'+board_id+'/');
    }
    function postComment(board_id){
        var content = $('.comment_contents_'+board_id).val();
        $.ajax({
            type: "POST", 
            url: "/board/",
            data:{
                "board_id": board_id,
                "content": content,
            },
            success: function(){
                location.reload();
            }
        })
    }
    function likeBoard(board_id){
        $.ajax({
            type: "POST",
            url: "/like/board/"+board_id+"/",
            success: function(){
                location.reload();
            }
        })
    }
</script>
</html>